<!-- Main Title strip -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="all">FHIR Patient Query Client Tool</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a data-ng-active-tab data-ng-href="all">All Patients</a></li>
                <li><a data-ng-active-tab data-ng-href="details">Single Patient</a></li>
                <li><a data-ng-active-tab data-ng-href="about">About</a></li>
                <li><a data-ng-active-tab data-ng-href="login">Login</a></li>
                <li><a data-ng-active-tab data-ng-href="launch">Launch</a></li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<br/>
<br/>
<br/>
<br/>

<div class="row">
    <h4>About page!</h4>
</div>