<!-- Main Title strip -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="all">FHIR Patient Query Client Tool</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a data-ng-active-tab data-ng-href="all">All Patients</a></li>
                <li><a data-ng-active-tab data-ng-href="details">Single Patient</a></li>
                <li><a data-ng-active-tab data-ng-href="about">About</a></li>
                <li><a data-ng-active-tab data-ng-href="login">Login</a></li>
                <li><a data-ng-active-tab data-ng-href="launch">Launch</a></li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<br/>
<br/>
<br/>
<br/>

<div class="row">

        <form name= "fhirForm" class="form-horizontal">

            <!-- Get FHIR Server Endpoint -->

            <div class="form-group">
                <label for="fhirUrl" class="control-label col-sm-2">FHIR Server URL</label>
                <div class="col-sm-10">
                    <input type="url" name="fhirUrl" id="fhirUrl" ng-model="fhirBean.url" required class="form-control" />

                </div>
            </div>


            <div class="form-group">
                <label for="auth" class="control-label col-sm-2">Is Secured</label>
                <div class="col-sm-10">
                    <input type="checkbox" name="auth" id="auth" ng-model="fhirBean.auth"
                           ng-true-value="true" ng-false-value="false">
                </div>
            </div>


            <!-- Get FHIR Resource Type -->
            <!--

            <div class="form-group">
                <label for="resType" class="control-label col-sm-2">FHIR Resource Type</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-fire"></span>
                        </div>
                        <input type="text" class="form-control" name="resType" id="resType" ng-model="fhirBean.resource" required/>
                    </div>
                </div>
            </div>
            -->

            <!-- Submit Button -->

            <div class = "form-group">
                <div class = "col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-click="query()" class="btn btn-primary">Search</button>
                    <button type="reset" ng-click="reset()"  class="btn btn-reset">Reset</button>
                </div>
            </div>

        </form>
</div>



<div class = "row col-lg-offset-1" >

    <button type="submit" ng-disabled="!fhirBean.id" ng-click="forwardToDetails()" class="btn btn-link">Get Details</button>

    <div ui-grid="gridOptions" ui-grid-selection class="myGrid">
    </div>

</div>



