<!-- Main Title strip -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="all" ng-hide="isEHRLaunch()">FHIR Patient Query Client Tool</a>
            <a class="navbar-brand" href="details" ng-show="isEHRLaunch()">FHIR Patient Query Client Tool</a>


        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a data-ng-active-tab data-ng-href="all" ng-hide="isEHRLaunch()">All Patients</a></li>
                <li><a data-ng-active-tab data-ng-href="details">Single Patient</a></li>
                <li><a data-ng-active-tab data-ng-href="about">About</a></li>
                <li><a data-ng-active-tab data-ng-href="login" ng-hide="isEHRLaunch()">Login</a></li>
                <li><a data-ng-active-tab data-ng-href="launch"ng-hide="isEHRLaunch()">Launch</a></li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<br/>
<br/>
<br/>
<br/>


<!-- Main Form to collect input from user before submitting query to FHIR server -->
<div class="row">

        <form name= "fhirForm" class="form-horizontal">

            <!-- Get FHIR Server Endpoint -->

            <div class="form-group">
                <label for="fhirUrl" class="control-label col-sm-2">FHIR Server URL</label>
                <div class="col-sm-10">
                    <input type="url" name="fhirUrl" id="fhirUrl" ng-model="fhirBean.url" required class="form-control" ng-disabled="isEHRLaunch()" />
                </div>
            </div>


            <!-- Check if Secured -->

            <div class="form-group" ng-hide="isEHRLaunch()">
                <label for="auth" class="control-label col-sm-2">Is Secured</label>
                <div class="col-sm-5">
                    <input type="checkbox" name="auth" id="auth" ng-model="fhirBean.auth"
                           ng-true-value="true" ng-false-value="false">
                </div>
            </div>

            <!-- Get FHIR Resource ID -->

            <div class="form-group" ng-hide="isEHRLaunch()">
                <label for="id" class="control-label col-sm-2">FHIR Resource ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="id" id="id" ng-model="fhirBean.id"/>
                </div>
            </div>

            <!-- Submit Button -->

            <div class = "form-group" ng-hide="isEHRLaunch()">
                <div class = "col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-click="query()" class="btn btn-primary">Search</button>
                    <button type="reset" ng-click="reset()"  class="btn btn-reset">Reset</button>
                </div>
            </div>


        </form>
</div>

<!-- Replace this with more html
<div class="row">
    <pre>Input = {{fhirBean }}</pre>
    <pre>Patient ID = {{result.identifier}}</pre>
    <pre>Patient Name = {{result.name}}</pre>
    <pre>Patient Gender: {{result.gender.coding[0]}}</pre>
    <pre>Text: {{result.text}}</pre>
    <pre>Here..</pre>
    <ul class = "result.name">
        <li ng-repeat="name in result.name">
            <span>Family: {{name.family[0]}}</span>
            <span>Given: {{name.given[0]}}</span>
            <span>Suffix: {{name.suffix[0]}}</span>
        </li>
    </ul>
</div>

-->

<!-- Add Tab set -->

<div class="row">
    <ul class="nav nav-pills">
        <li ng-class="{ active:isSelected(1) }"><a href ng-click="selectTab(1)">Demographics</a></li>
        <li ng-class="{ active:isSelected(2) }"><a href ng-click="selectTab(2)">Document Reference</a></li>
        <li ng-class="{ active:isSelected(3) }"><a href ng-click="selectTab(3)">Medications</a></li>
        <li ng-class="{ active:isSelected(4) }"><a href ng-click="selectTab(4)">Allergy Details</a></li>
        <li ng-class="{ active:isSelected(5) }"><a href ng-click="selectTab(5)">Problem Details</a></li>
        <li ng-class="{ active:isSelected(6) }"><a href ng-click="selectTab(6)">Immunizations</a></li>
        <li ng-class="{ active:isSelected(7) }"><a href ng-click="selectTab(7)">Miscellaneous</a></li>
        <li ng-class="{ active:isSelected(8) }"><a href ng-click="selectTab(8)">Diagnostic Reports</a></li>
    </ul>
</div>

<div class="panel" ng-show="isSelected(1)">
    <div ng-include src="'partials/demographics.html'"></div>
</div>

<!-- Document reference details -->
<div class="panel" ng-show="isSelected(2)">
    <div ng-include src="'partials/docreference.html'"></div>
</div>

<!-- Medication details -->
<div class="panel" ng-show="isSelected(3)">
    <div ng-include src="'partials/medication.html'"></div>
</div>

<!-- Allergy Details -->
<div class="panel" ng-show="isSelected(4)">
    <div ng-include src="'partials/allergy.html'"></div>
</div>

<!-- Problem Details -->
<div class="panel" ng-show="isSelected(5)">
    <div ng-include src="'partials/problem.html'"></div>
</div>

<!-- Immunization Details --->
<div class="panel" ng-show="isSelected(6)">
    <div ng-include src="'partials/immunization.html'"></div>
</div>

<!-- Miscellaneous Details --->
<div class="panel" ng-show="isSelected(7)">
    <div ng-include src="'partials/miscellaneous.html'"></div>
</div>

<!-- DiagnosticReport tab is selected  -->
<div class="panel" ng-show="isSelected(8)">
    <div ng-include src="'partials/diagnosticreport.html'"></div>
</div>
