<!-- Medication Tab Selected -->

<div ng-show="isMedOrderInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Order Details</div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Dosage Instruction</th>
            <th>Order Status</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td colspan="4" class="text-center text-danger">
                No information present
            </td>
        </tr>
        </tbody>

    </table>
</div>


<!-- Viewing Medication Order when information is present -->

<div ng-hide="isMedOrderInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Order Details for <span class="label label-info">{{result.demographics.name}}</span></div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Dosage Instruction</th>
            <th>Order Status</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="medOrder in result.medOrderDetails">
            <td>
                {{medOrder.displayName}}
            </td>
            <td>
                {{medOrder.code}}
            </td>
            <td >
                {{medOrder.dosageInstruction}}
            </td>
            <td>
                {{medOrder.status}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Viewing Medication Dispense Empty table when no information is present -->

<div ng-show="isMedDispenseInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Dispense Details</div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>When Handed</th>
            <th>Dispense Status</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td colspan="4" class="text-center text-danger">
                No information present
            </td>
        </tr>
        </tbody>

    </table>
</div>

<!-- Viewing Medication Dispense when information is present -->

<div ng-hide="isMedDispenseInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Dispense Details for <span class="label label-info">{{result.demographics.name}}</span></div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>When Handed</th>
            <th>Dispense Status</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="medDispense in result.medDispenseDetails">
            <td>
                {{medDispense.displayName}}
            </td>
            <td>
                {{medDispense.code}}
            </td>
            <td >
                {{medDispense.whenHandedOver}}
            </td>
            <td>
                {{medDispense.status}}
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Viewing Medication Statement Empty table when no information is present -->

<div ng-show="isMedStatementInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Statement Details</div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>status</th>
            <th>Not Taken</th>
            <th>When Given</th>
            <th>Route</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td colspan="6" class="text-center text-danger">
                No information present
            </td>
        </tr>
        </tbody>

    </table>
</div>

<!-- Viewing Medication Statement when information is present -->

<div ng-hide="isMedStatementInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Statement Details for <span class="label label-info">{{result.demographics.name}}</span></div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>status</th>
            <th>Not Taken</th>
            <th>When Given</th>
            <th>Route</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="medStatement in result.medStatementDetails">
            <td>
                {{medStatement.name}}
            </td>
            <td>
                {{medStatement.code}}
            </td>
            <td >
                {{medStatement.status}}
            </td>
            <td>
                {{medStatement.wasNotTaken}}
            </td>
            <td>
                {{medStatement.when}}
            </td>
            <td>
                {{medStatement.route}}
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Viewing Medicine details Empty table when no information is present -->

<div ng-show="isMedicineInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Details</div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Dosage</th>
            <th>Medication Status</th>
            <th>Order Status</th>
            <th>Dispense Status</th>
            <th>When Handed</th>
            <th>Route</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td colspan="8" class="text-center text-danger">
                No information present
            </td>
        </tr>
        </tbody>

    </table>
</div>

<!-- Viewing Medicine details tables when information is present -->

<div ng-hide="isMedicineInfoEmpty()" class="row panel panel-success">

    <!-- Default panel contents -->
    <div class="panel-heading">Medication Details for <span class="label label-info">{{result.demographics.name}}</span></div>

    <table class="table table-condensed table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Dosage</th>
            <th>Medication Status</th>
            <th>Order Status</th>
            <th>Dispense Status</th>
            <th>When Handed</th>
            <th>Route</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="medication in result.medicines">
            <td>
                {{medication.name}}
            </td>
            <td>
                {{medication.code}}
            </td>
            <td >
                {{medication.dosage}}
            </td>
            <td>
                {{medication.medicationStatus}}
            </td>
            <td>
                {{medication.orderStatus}}
            </td>
            <td>
                {{medication.dispenseStatus}}
            </td>
            <td>
                {{medication.whenHandedOver}}
            </td>
            <td>
                {{medication.route}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
